:root{
  --primary-color: #efeaef;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Noto Sans KR', sans-serif;
  background: var(--primary-color);
  line-height: 1.4;
  }
/*utility*/
.btn{
  display: inline-block;
  padding: 12px 24px;
  margin: 10px 0;
  border: none;
  background: #443544;
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
}
.btn:hover{
  background: #000;
  transition: all 0.5s ease-in;
}
p{
  padding: 0.5rem;
}
a{
text-decoration: none;
color: black;
}
.l-heading{
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0.75rem;
}
 .container{
  margin: auto;
  padding: 1rem;
}
img{
  width: 100%;

}
/*header*/
#main-header .container h1, p{
  text-align: center;
}
#main-header .container h1 a:hover{
  opacity: 0.8;
}
/*showcase*/
#showcase{
  background: #333 url(./img/room.jpg) no-repeat center center/cover;
  height: 70vh;
  color: #fff;
  position: relative;
}

#showcase .container-showcase{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  /*overlay*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.1)
}
/*about-us*/
#about-us{
  width: 80%;
  margin: auto;
  padding: 0.75rem;
  height: 100%;
}
#about-us h2{
  font-size: 1.5rem;
  padding: 2rem 8rem;
  font-weight: bold;
}
#about-us .about-us-container{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#about-us .about-us-container .img{
  width: 60%;
}
#about-us .about-us-container .para{
  width: 40%;
  padding: 1rem;
  padding-top: 6rem;
  font-size: 1.2rem;
  height: 420px;
  background: #72767c;
  color: #fff;
}
#about-us #light .para{
  background:#fff;
  color: black;
}
/*info*/
#info{
  width: 50%;
  margin: auto;
}
#info .get{
  padding-top: 40px;
}
#info .get h2,
#info .get h3{
  padding: 0.75rem;
}
#info .get p{
  text-align: start;
  padding: 0.75rem;
  padding-top: 0.25rem;
}
#info .form{
   padding: 0.75rem;
}
#info .form h2{
  padding: 0.5rem 0;
}
#info .form .form-group label{
   display: block;
   font-size: 1.5rem;
   padding: 0.25rem;
}
#info .form .form-group input[type='text'],
#info .form .form-group input[type='email']{
  padding: 10px 20px;
}
#info .form .form-group textarea{
  height: 100px;
  width: 200px;
}
#main-fotter p{
  font-size: 1.2rem;
  padding: 1.5rem;
}


